
.mat-progress-bar {
  position: absolute;
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;

  .form {
    margin: auto;
    transform: translateY(-70px);

    .mat-form-field .mat-icon-button {
      transform: translateY(1px);
    }

    .mat-icon-button {
      transform: translate(5px, -5px);
    }
  }
}
